In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('D14data3.csv')

In [32]:
df.shape

(7500, 20)

In [33]:
df.isnull().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

In [34]:
from apyori import apriori

In [35]:
transaction = []
for i in range(0,7500):
    transaction.append(str(df.values[i,j]) for j in range(0,20))

In [36]:
ap_rules = apriori(transaction,min_support=0.003,min_confidence=0.2,min_lift=3,min_length=2)

In [37]:
ap_res = list(ap_rules)

In [ ]:
len(ap_res)

0